@font-face {
    font-family: 'MaoKenWangXingYuan'; 
    src: url('MaoKenWangXingYuan-2.ttf') format('truetype');
  }

  @font-face {
    font-family: 'YouSheYuFeiTeJianKangTi';
    src: url('YouSheYuFeiTeJianKangTi-2.ttf') format('truetype');
  }


 